---
import Layout from '@/layouts/Layout.astro'
import About from '@/sections/About.astro'
import Home from '@/sections/Home.astro'
import Products from '@/sections/Products.astro'
import Reviews from '@/sections/Reviews.astro'
---

<Layout
	title="Café Papá Julio"
	description="Cultivado en las montañas de Matagalpa con notas a chocolate, nueces, avellanas y dulce de caña"
>
	<main class="">
		<!-- home -->
		<Home />

		<!-- about -->
		<About />

		<!-- Products -->
		<Products />

		<!-- reviews -->
		<Reviews />
	</main>
</Layout>
