<header class="flex h-14 items-center justify-center">
	<nav
		class="flex w-full flex-row items-center justify-center gap-4 text-center font-semibold sm:gap-6 lg:gap-10"
	>
		<a href="#Home" class="font-bold hover:underline hover:underline-offset-8">Home</a>
		<a href="#About" class="font-bold hover:underline hover:underline-offset-8">Nosotros</a>
		<a href="#Products" class="font-bold hover:underline hover:underline-offset-8">Productos</a>
		<a href="#Reviews" class="font-bold hover:underline hover:underline-offset-8">Opiniones</a>
	</nav>
</header>
