<section
	id="Home"
	class="flex flex-col items-center gap-4 pb-10 sm:flex-row-reverse sm:px-10 sm:pt-10"
>
	<img
		loading="eager"
		src="/images/HeroImage.webp"
		class="aspect-square h-72 w-72 lg:h-96 lg:w-96"
		alt="Dos bolsas de café con etiquetas verdes y amarillas de Café Papa Julio. Las etiquetas indican que el café se elabora en Nicaragua y especifican diferentes tipos: Café Gourmet y Café Arábica Grano."
	/>

	<div class="space-y-5 px-5 font-medium sm:px-0">
		<h2 class="text-3xl font-bold text-pearl-lusta-700 sm:text-4xl lg:text-5xl">Café Papá Julio</h2>

		<p>
			¡Descubre el auténtico sabor de Nicaragua en cada taza! Nuestro café, cultivado en las
			fértiles tierras nicaragüenses, es seleccionado a mano y tostado con precisión para resaltar
			sus matices únicos. Disfruta de un café suave, equilibrado y lleno de carácter.
		</p>

		<p class="text-center sm:text-start">
			<strong>¡Eleva tus sentidos con lo mejor de Nicaragua!</strong>
		</p>

		<div>
			<a
				href="https://api.whatsapp.com/send?phone=50587809838"
				class="rounded-br-xl rounded-tl-xl bg-pearl-lusta-700 px-3 py-2 text-center font-semibold text-white transition duration-300 hover:bg-pearl-lusta-600 sm:px-4 sm:py-3"
			>
				Cantactanos
			</a>
		</div>
	</div>
</section>
